.contact {
  background-image: url("../../assets/Background-Contact-Form.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  width: 100%;

  &::after {
    content: "";
    background: #ffffffc9;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .form {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    right: 10%;
    z-index: 1;

    span {
      color: $color-dark-gray;
      font-size: 38px;
      letter-spacing: -0.76px;
      line-height: 55px;
      padding-bottom: 25px;
      text-align: center;
    }

    form {
      margin-top: 70px;
      text-align: right;
      width: 100%;

      div {
        display: flex;
        padding-bottom: 40px;

        .label-name {
          padding-right: 4%;
        }

        label {
          font-size: 16px;
          font-weight: 600;
          line-height: 22px;
          text-align: left;
          width: 48%;

          input {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #707070;
            font-size: 18px;
            height: 40px;
            line-height: 18px;
          }
        }
      }

      label {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        padding-bottom: 44px;
        text-align: left;

        textarea {
          background-color: transparent;
          border: none;
          border-bottom: 1px solid #707070;
          font-size: 18px;
          line-height: 24px;
          height: 100px;
          overflow: auto;
          resize: none;
        }
      }

      button {
        background: transparent;
        border: 1px solid $color-dark-gray;
        color: #000;
        font-size: 18px;
        font-weight: 300;
        line-height: 32px;
        padding: 13px 50px;
      }
    }
  }

  .footer {
    align-items: center;
    bottom: 22px;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 1;

    span {
      color: $color-dark-gray;
      font-size: 18px;
      line-height: 24px;
    }

    .iconsContainer {
      display: flex;
      gap: 20px;
      position: absolute;
      right: 10%;
    }
  }
}

@media (max-width: 768px) {
  .contact {
    display: flex;
    justify-content: center;
    .form {
      right: auto;
      width: 80%;
    }
  }
}

@media (max-width: 480px) {
  .contact {
    .form {
      span {
        font-size: 32px;
        line-height: 49px;
      }

      form {
        div {
          label {
            font-size: 12px;
            line-height: 18px;

            input {
              font-size: 14px;
              line-height: 14px;
            }
          }
        }

        label {
          font-size: 12px;
          line-height: 18px;

          textarea {
            font-size: 14px;
            line-height: 14px;
          }
        }
      }
    }

    .footer {
      display: block;
      span {
        display: block;
        text-align: center;
      }

      .iconsContainer {
        right: auto;
        justify-content: center;
        padding: 10px 0;
        width: 100%;
      }
    }
  }
}
