header {
  position: relative;
  width: 100%;

  .navigation {
    margin-right: 7%;
    padding: 37px 0;
    position: absolute;
    right: 0;
    z-index: 2;

    .hamburgerMenu {
      background-color: transparent;
      border: none;
      display: none;
    }

    a {
      color: $color-dark-gray;
      cursor: pointer;
      font-size: 18px;
      padding: 10px 0;
      padding-left: 50px;
      text-decoration: none;
    }

    &__login {
      display: flex;
      justify-content: flex-end;
      line-height: 36px;
      margin-bottom: 17px;

      a {
        color: $color-gray;
        font-size: 14px;
        padding: 10px;
        padding-right: 20px;
      }

      .btn-register {
        border: 1px solid $color-yellow;
        padding-right: 10px;

        &:hover {
          background-color: $color-yellow;
          transition: 0.3s;
        }
      }
    }

    &__menu {
      line-height: 42px;

      .btn-start {
        border: 1px solid $color-dark-gray;
        padding: 10px 20px;

        &:hover {
          background-color: $color-yellow;
          border: 1px solid $color-yellow;
          transition: 0.3s;
        }
      }
    }
  }

  .hero {
    align-items: center;
    display: flex;

    &__left {
      transform: translateX(-480px);
      width: 100%;
    }

    &__right {
      display: flex;
      flex-direction: column;
      margin-right: 7%;
      padding-top: 50px;
      position: absolute;
      right: 5%;
      text-align: center;

      span {
        color: $color-dark-gray;
        font-size: 38px;
        line-height: 55px;
        padding-bottom: 25px;
      }

      img {
        margin: 0 auto;
        padding-bottom: 65px;
      }

      .btn-container {
        display: flex;
        gap: 44px;
        justify-content: center;

        .btn {
          border: 1px solid $color-dark-gray;
          background-color: #fff;
          color: $color-dark-gray;
          cursor: pointer;
          font-size: 36px;
          font-weight: 300;
          line-height: 45px;
          padding: 13px 93px;
          text-align: center;
          text-decoration: none;

          &:hover {
            background-color: $color-yellow;
            border: 1px solid $color-yellow;
            transition: 0.3s;
          }
        }

        .btn-second {
          padding: 13px 51px;
        }
      }
    }
  }
}

@media (max-width: 1366px) {
  header {
    .hero__left {
      img {
        transform: translateX(100px);
        width: 1095px;
      }
    }

    .hero__right {
      span {
        font-size: 30px;
        line-height: 47px;
      }

      .btn-container {
        .btn {
          font-size: 22px;
          line-height: 30px;
          padding: 13px 77px;
        }

        .btn-second {
          padding: 13px 51px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  header {
    .hero {
      &::after {
        content: "";
        background: #ffffffc9;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }

      .hero__right {
        z-index: 1;

        span {
          font-size: 26px;
          line-height: 43px;
        }

        .btn-container {
          .btn {
            font-size: 18px;
            line-height: 26px;
            padding: 13px 61px;
          }

          .btn-second {
            padding: 13px 45px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    .navigation {
      margin: 0;
      padding: 10px 0;
      width: 100%;

      a {
        padding: 0;
        border-top: 1px solid $color-dark-gray;
      }

      .hamburgerMenu {
        display: block;
        position: absolute;
        right: 20px;
        z-index: 10;
      }

      ul {
        display: none;
      }

      .navigation__menu {
        background-color: #fff;
        display: none;
        flex-direction: column;
        position: absolute;
        text-align: center;
        top: 70px;
        width: 100%;

        .btn-start {
          border: none;
          border-top: 1px solid $color-dark-gray;
          padding: 0;
        }

        .btn-kontakt {
          border-bottom: 1px solid $color-dark-gray;
        }
      }

      .navigation__menu.expanded {
        display: flex;

        a:hover {
          background-color: gray;
        }
      }
    }
    .hero {
      .hero__left {
        img {
          transform: translateX(310px);
          width: 500px;
        }
      }
      .hero__right {
        margin-right: 0;
        right: 50%;
        transform: translateX(50%);

        span {
          font-size: 18px;
          line-height: 35px;
        }

        img {
          padding-bottom: 25px;
        }

        .btn-container {
          .btn {
            font-size: 14px;
            line-height: 22px;
            padding: 13px 53px;
          }

          .btn-second {
            padding: 13px 37px;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  header {
    .hero {
      .hero__right {
        padding-left: 10px;
        padding-right: 10px;
        span {
          font-size: 18px;
          line-height: 35px;
        }

        img {
          padding-bottom: 25px;
        }

        .btn-container {
          gap: 20px;
          .btn {
            font-size: 14px;
            line-height: 22px;
            padding: 13px 43px;
          }

          .btn-second {
            padding: 13px 27px;
          }
        }
      }
    }
  }
}
